#company {
  .company-item {
    .company-logo {
      width: 65px;
      height: 65px;
      object-fit: contain;
    }
    .company-title {
      margin-bottom: 0;
      color: black;

      font-size: 1rem;
      font-weight: 600;
    }
    .company-location {
      font-size: 0.9rem;
      font-weight: 400;
    }
    .company-category {
      margin-bottom: 0;
      span {
        font-size: 0.9rem;
      }
    }
    .company-job {
      margin-bottom: 1rem;
      span {
        font-size: 0.9rem;
      }
    }
    .company-time {
      margin-bottom: 0;
      span {
        font-size: 0.8rem;
      }
    }

    &:hover {
      box-shadow: #c9deff 2px 6px 15px;
    }
  }
}
